---
import Navbar from "./Navbar.astro";
import "../styles/global.css";
import Albums from "../sections/albums.astro";
import Fans from "../sections/fans.astro";
import Faq from "../sections/faq.astro";
import Home from "../sections/home.astro";
import Footer from "../sections/footer.astro";
import Ofert from "../sections/ofert.astro";
---

<div class="text-center text-gray-900">
  <Navbar />
</div>

<main style="padding-top: 40px;">
  <section id="inicio" class="hero">
    <Home />
  </section>

  <!-- Sección Álbumes -->
  <section
    id="albums"
    class="bg-[#fcfaff] text-center py-20 text-gray-900 font-[Inter]"
  >
    <Albums />
  </section>

  <!-- Sección Fans -->
  <section id="fans" class="fans-section">
    <!-- contenido de fans -->
    <Fans />
  </section>

  <!-- Sección FAQ -->
  <section id="faq" class="faq-section">
    <!-- preguntas frecuentes -->
    <Faq />
  </section>

  <section id="contact" class="contact-section"></section>
  <section>
    <Ofert />
  </section>

  <section id="footer" class="footer-section">
    <Footer />
  </section>
</main>
